[submodule "plugin/vim-commentary"]
	path = pack/user/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugin/vim-repeat"]
	path = pack/user/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "plugin/vim-surround"]
	path = pack/user/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "plugin/vim-fugitive"]
	path = pack/user/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugin/ctrlp.vim"]
	path = pack/user/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "plugin/vim-easy-align"]
	path = pack/user/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "plugin/vim-compile"]
	path = pack/user/start/vim-compile
	url = https://github.com/marcs-feh/vim-compile
[submodule "plugin/vim-odin"]
	path = pack/user/start/vim-odin
	url = https://github.com/marcs-feh/vim-odin
[submodule "plugin/vim-udark"]
	path = pack/user/start/vim-udark
	url = https://github.com/marcs-feh/vim-udark
[submodule "plugin/nvim-treesitter"]
	path = pack/user/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
